@tailwind base;
@tailwind components;
@tailwind utilities;

.htmx-indicator {
    display: none;
}

.htmx-request .htmx-indicator,
.htmx-request.htmx-indicator {
    display: inline-flex;
}

pre[class*="language-"] {
    margin: 0;
    border-radius: 0 0 0.5rem 0.5rem;
    max-height: 500px;
    font-size: 0.85rem;
}

.code-tabs .tab-content {
    display: none;
}

.code-tabs .tab-content.active {
    display: block;
}