name: Split Monorepo

on:
  push:
    branches:
      - main
    tags:
      - 'v*'

jobs:
  split:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        package:
          - prefix: 'packages/htmx-bundle'
            repo: 'mdxpl/htmx-bundle'
          - prefix: 'packages/demo'
            repo: 'mdxpl/htmx-bundle-demo'

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Split ${{ matrix.package.prefix }}
        uses: claudiodekker/splitsh-action@v1.0.0
        with:
          prefix: ${{ matrix.package.prefix }}
          remote: 'https://x-access-token:${{ secrets.HTMX_BUNDLE_SPLIT_TOKEN }}@github.com/${{ matrix.package.repo }}.git'
          reference: ${{ github.ref_name }}
          as_tag: ${{ startsWith(github.ref, 'refs/tags/') }}
